<launch>
    <param name="robot_description" command="$(find xacro)/xacro '$(find delta_robot_description)/urdf/delta.xacro'"/>

    <!-- combine joints value -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- show in rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find delta_robot_description)/rviz/config.rviz" />

    <!-- sending joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="True"/>
    </node>

</launch>